.button {
	--size: 32px;
	display: grid;
	grid-template-areas: "content";
	place-items: center;
	block-size: var(--size);
	inline-size: var(--size);
	border-radius: 6px;
}

.icon {
	grid-area: content;
	opacity: 0;
}

.icon.show {
	opacity: 1;
	transition: opacity 200ms;
}
