.wrapper {
	flex: 1 1 478px;
	background-color: var(--bg-secondary-color);
	border-radius: var(--border-radius);
}

.wrapper:focus-within {
	outline: 1px solid hsl(0 0% 65%);
	outline-offset: 2px;
}

.wrapper textarea:focus-visible {
	outline: none;
}
