.link {
	position: absolute;
	z-index: 10;
	inset-block-start: 0;
	inset-inline-end: 0;
}

.link svg {
	fill: var(--text-color);
	color: var(--bg-color);
}

.octoArm {
	transform-origin: 130px 106px;
}

.link:hover .octoArm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}
