:root {
	--text-color-hsl: 220 5% 89%;

	--bg-color: hsl(240 10% 4%);
	--bg-secondary-color: hsl(240 6% 10%);
	--text-color: hsl(220 5% 89%);
	--primary-color: hsl(226 79% 68%);
	--border-radius: 8px;
	--playground-padding: 12px;
}

body {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
	padding-inline: clamp(16px, 12.112px + 1.036vw, 32px);
	font-size: 16px;
	background-color: var(--bg-color);
	color: var(--text-color);
}

:focus-visible {
	outline: 2px solid hsl(0 0% 65%);
	outline-offset: 2px;
}
