.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	text-decoration: none;
	user-select: none;
	border-radius: var(--border-radius);
	-webkit-tap-highlight-color: transparent;
}

.button.primary {
	background-color: hsl(0 0% 98%);
	color: hsl(240 5.9% 10%);
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover {
	background-color: hsl(0 0% 98% / 0.9);
}

.button.outlined:hover {
	background-color: hsl(240 4% 18%);
}
