.main {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.playground {
	flex: 1 1 478px;
	padding: var(--playground-padding);
	overflow-x: auto;
	border: 1px solid hsl(240 3.7% 15.9%);
	border-radius: var(--border-radius);
}
