.header {
	min-block-size: 64px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	padding-block: 20px;
}

.dreeLogo {
	margin-inline-end: auto;
}

.nothing {
	flex-basis: 73px;
	margin-inline-start: auto;
}
