.header {
	min-block-size: 64px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-block: 20px;
}

.dreeLogo {
	margin-inline-end: auto;
}

@media screen and (min-width: 768px) {
	.header {
		flex-direction: row;
		align-items: center;
	}
}
